

# compiled output
.vscode
/node_modules

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc

# test
jest.config.js

# docker
Dockerfile
docker-compose.yml
docker-compose.yaml
docker-compose.*.yml
docker-compose.*.yaml
.dockerignore

# git
.gitignore
.gitattributes
.git
/.github
LICENCE
LICENSE


# misc
.env
*.md
*.yml
.DS_Store

# custom
/client
deploy.sh
